:root {
--primary-color: mediumslateblue;
}

/* Custom scrollbar */
::-webkit-scrollbar {
width: 8px;
background-color: #111;
}

::-webkit-scrollbar-thumb {
background-color: #666;
border-radius: 4px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f4f4f4;
  padding: 10px;
  z-index: 1000;

  .logo {
    width: 50px;
  }

  .menu-button {
    cursor: pointer;
  }

  .menu-content {
    display: none;
  }
}

html, body {
height: 100%;
overflow: auto;
font-family: "Montserrat", sans-serif;
margin: 0;
padding: 0;
background-color: black;
}

.container {
display: flex;
flex-direction: column;
}

.card-section, .chart-section {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.card {
width: 640px;
position: relative;
background-color: rgb(16 16 16);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 1.5rem;
padding: 1rem;
}

.chart-title {
text-align: center;
color: white;
font-family: "Montserrat", sans-serif;
margin-bottom: 0.5rem;
}

h1, h2, h3, p {
margin: 0rem;
}

.card {
width: 640px;
position: relative;
background-color: rgb(16 16 16);
border: 1px solid rgba(255, 255, 255, 0.05);
border-radius: 1.5rem;
padding: 1rem;
}

.card:after {
content: "";
height: 70px;
width: 1px;
position: absolute;
left: -1px;
top: 65%;
transition: top, opacity;
transition-duration: 600ms;
transition-timing-function: ease;
background: linear-gradient(
transparent,
var(--primary-color),
transparent
);
opacity: 0;
}

.card:after {
top: 65%;
opacity: 0;
}

.card:hover:after {
top: 25%;
opacity: 1;
}

.card-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
background-image: radial-gradient(
rgba(255, 255, 255, 0.1) 1px,
transparent 1px
);
background-position: 50% 50%;
background-size: 1.1rem 1.1rem;
padding: 4rem;
border-radius: 1.25rem;
overflow: hidden;
}

.card-content > :is(h1, h3, p) {
text-align: center;
}

.card-content > h1 {
color: rgb(250, 249, 246);
font-size: 2.6rem;
}

.card-content > h3 {
color: var(--primary-color);
text-transform: uppercase;
font-size: 0.76rem;
}

.card-content > p {
color: rgba(255, 255, 255, 0.75);
line-height: 1.5rem;
}

@media(max-width: 700px) {
.card {
width: calc(100% - 2rem);
margin: 0rem 1rem;
padding: 0.75rem;
border-radius: 1rem;
}
}
@media(max-width: 600px) {
  .card-content {
    padding: 3rem;
  }
  
  .card-content > h1 {
    font-size: 2.2rem;
  }
}

#chart-container {
  position: relative;
  height: 75vh;
  margin: 0 auto; 
  width: 100%; 
}
#container_1 {
  position: relative;
  height: 65vh;
  margin: 0 auto; 
  width: 100%; 
}
#container_2 {
  position: relative;
  height: 75vh;
  margin: 0 auto; 
  width: 100%; 
}